In [4]:

import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('best_salesman_homework.csv')
print("Dataset size: ", df.shape)
df.head()

Dataset size:  (3183, 5)

   client_account_id        date   event_name  manager_id manager_nickname
0                  0  2022-05-09  first_touch         1.0    Justin Beiber
1                  1  2022-03-21  first_touch         3.0        Joe Biden
2                  2  2022-04-18  first_touch         2.0     Kylie Jenner
3                  3  2022-02-07  first_touch         2.0     Kylie Jenner
4                  4  2022-04-08  first_touch         1.0    Justin Beiber

In [14]:

df['manager_nickname'].value_counts()

Joe Biden        1249
Kylie Jenner     1007
Justin Beiber     927
Name: manager_nickname, dtype: int64

In [19]:
# calculating unique clients 
len(df['client_account_id'].unique())

2987

In [101]:
#see how the observations in our dataset are distributed in the context of two variables - manager_nickname and event_name
pd.crosstab(df["manager_nickname"], df["event_name"])

event_name        deal  first_touch
manager_nickname
Joe Biden           91         1158
Justin Beiber       37          890
Kylie Jenner        68          939

In [115]:
#Calculating unique Jenner`s clients
Kylie_Jenner_df = df.loc[df['manager_nickname'] == 'Kylie Jenner']
Kylie_Jenner_unique = len(Kylie_Jenner_df['client_account_id'].unique())
Kylie_Jenner_unique

987

In [114]:
# Calculating unique Beiber`s clients
Justin_Beiber_df = df.loc[df['manager_nickname'] == 'Justin Beiber']
Justin_Beiber_unique = len(Justin_Beiber_df['client_account_id'].unique())
Justin_Beiber_unique

916

In [113]:
#Calculating unique Biden`s clients
Joe_Biden_df = df.loc[df['manager_nickname'] == 'Joe Biden']
Joe_Biden_unique = len(Joe_Biden_df['client_account_id'].unique())
Joe_Biden_unique

1215

In [121]:
# Calculating Beiden`s deals
Joe_Beiden_deal = df.loc[(df['manager_nickname'] == 'Joe Biden') & (df['event_name'] == 'deal')]
Joe_Biden_deal_count = len(Joe_Beiden_deal['client_account_id'].unique())
Joe_Biden_deal_count

91

In [125]:
# Calculating Jenner`s deals
Kylie_Jenner_deal = df.loc[(df['manager_nickname'] == 'Kylie Jenner') & (df['event_name'] == 'deal')]
Kylie_Jenner_deal_count = len(Kylie_Jenner_deal['client_account_id'].unique())
Kylie_Jenner_deal_count

68

In [124]:
# Calculating Beiber`s deals
Justin_Beiber_deal = df.loc[(df['manager_nickname'] == 'Justin Beiber') & (df['event_name'] == 'deal')]
Justin_Beiber_deal_count = len(Justin_Beiber_deal['client_account_id'].unique())
Justin_Beiber_deal_count

37

In [126]:
#Joe Biden conversion rate 
print(int((Joe_Biden_deal_count/Joe_Biden_unique)*100),'%')

7 %

In [127]:
#Justin Beiber conversion rate
print(int((Justin_Beiber_deal_count/Justin_Beiber_unique)*100),'%')

4 %

In [128]:
#Kylie Jenner conversion rate
print(int((Kylie_Jenner_deal_count/Kylie_Jenner_unique)*100),'%')

6 %